page-restaurant{
   
    ion-header{
        background: green;
    }

    ion-content{
        top: 56px;
        background: red;
    }

    .toolbar-background-md{
        background: magenta;
    }
}