page-item{

    .navBar{
        top: 56px;
        background: #cce6ff;
        ion-scroll[scrollX] {
            top: 10px;
            white-space: nowrap;
        }

        .scroll-item {
            border-radius: 10px;
            border: 1.5px solid white;
            padding-right: 10px;
            padding-left: 10px;
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            color: white;
        }
        
        .scroll-item-active{
            
            border-radius: 10px;
            border: 1.5px solid #000000;
            padding-right: 10px;
            padding-left: 10px;
            margin-left: 10px;
            margin-right: 10px;
            display: inline-block;
            color: #000000;
        }
        
    }


    .itemPage{

        top: 96px;

        background: #cce6ff;

        ion-card{
            background-color: white;
            position: relative;
            text-align: left;
        }

        ion-content{
            background-color: #cce6ff;
        }

        .swiper-slide img {
            width: 100%;
        }

        .titleA{
            width: 75%;
            float: 'left'
        }

        .price{ 
            float:right
        }

        .swiper-pagination {
            
            .swiper-pagination-bullet{
                background:  #273746;
                opacity: 0.7;
            }
            .swiper-pagination-bullet-active {
                background: #f0f0f5;
                opacity: 1;
            }
        }
    }
}